body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

label {
  display: block;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
  font-size: 1.5em;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background-color: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Times New Roman", Times, serif;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}
